body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}


#head-div {
    background-color: #08009b;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "title logo"
        "subtitle logo";
}

h1 {
    grid-area: title;
    color: white;
    font-size: 3em;
    text-align: center;
    display: inline-block;
    margin: 0%;
}

#head-div h2 {
    grid-area: subtitle;
    color: white;
    text-align: center;
    margin: 0%;
    display: inline-block;
}

img {
    width: 50%;
    height: 50%;
    grid-area: logo;
    display: flex;
    margin-top: 15%;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dbebfd;
    grid-area: nav;
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;

}

.nav-li a,
.nav-li a:visited,
.nav-li a:active {
    display: block;
    color: #08009b;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #08009b;
    border: 1px solid #ff0000;
    color: white;
}

footer {
    background-color: #08009b;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

a,
a:visited,
a:active {
    display: block;
    color: #08009b;
    text-align: center;
    padding: 2px;
    text-decoration: none;
}

a:hover {
    background-color: #08009b;
    border: 1px solid #ff0000;
    color: white;
}
p{
    margin-left: 5px;
    padding: 0px;
}
#btn-drop{
    background-color: #08009b;
    color: white;
    border: none;
    padding: 5px;
    margin: 0px;
    /* cursor: pointer; */
    width: 100%;
    text-align: left;
}

table {
    grid-area: tables;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 10px;
    padding: 0;
}

th {
    border: 1px solid #000;
    background-color: #08009b;
    color: white;
}

td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    height: 0%;
    overflow: hidden;
    margin: 0;
}

body{
    background-color: beige;
}