{% if perms.task.task_management %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-dev-modal">Add task</button>

<div class="modal fade" id="add-dev-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Task</h4><button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'task:create' %}"  id="create-form" onsubmit="$('#create-form *').removeAttr('disabled');" method="post">
                    {% load crispy_forms_tags %} 
                    {% csrf_token %}
                    {{ form|crispy }} 
                    <div>
                        <button class="btn btn-primary" type="submit">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}